<div class="container" *ngIf="fileLoadedObserver|async">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group">
          <div class="form-row">
            <div class="col-6">
              <label for="organismSelection">Select Organism</label>
              <select class="form-control" id="organismSelection" formControlName="organisms" (change)="getData()">
                <option *ngFor="let o of organism">
                  {{o}}
                </option>
              </select>
            </div>
            <div class="col-6">
              <label for="experimentSelection">Select Experiment</label>
              <select class="form-control" id="experimentSelection" formControlName="experiment" (change)="getData()">
                <option *ngFor="let o of experiment">
                  {{o}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input formControlName="dda" type="checkbox" id="ddaToggle" class="form-check-input" (change)="getData()">
            <label for="ddaToggle" class="form-check-label">Include DDA data</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input formControlName="dia" type="checkbox" id="diaToggle" class="form-check-input"  (change)="getData()">
            <label for="diaToggle" class="form-check-label">Include DIA data</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input formControlName="userData" type="checkbox" id="userDataToggle" class="form-check-input"  (change)="getData()">
            <label for="userDataToggle" class="form-check-label">Include User data</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-bar-chart *ngIf="fileLoadedObserver|async" [data]="selectedData"></app-bar-chart>
