<div class="container">
  <div class="card">
    <div class="card-body">
      <p class="card-text">Loaded file with {{columnNum}} columns and {{rowNum}}</p>
      <form [formGroup]="columnForm">
        <div class="form-group">
          <div class="form-row">
            <div class="col-6">
              <label for="columnSelection">Select intensity columns for calculation of copy number</label>
              <select multiple class="form-control" id="columnSelection" formControlName="IntensityCols">
                <option *ngFor="let o of column">
                  {{o}}
                </option>
              </select>
            </div>
            <div class="col-6">
              <label for="identityColumnSelection">Select identifier columns</label>
              <select multiple class="form-control" id="identityColumnSelection" formControlName="IdentifierCol">
                <option *ngFor="let o of column">
                  {{o}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row mt-2">
            <button class="btn btn-primary" (click)="selectData()">Submit</button>
          </div>
        </div>
      </form>



    </div>
  </div>
</div>

