<div class="container">
  <div class="card">
    <div class="card-body">
      <p class="card-text">Loaded file with {{columnNum}} columns and {{rowNum}}</p>
      <form [formGroup]="columnForm">
        <div class="form-group">
          <div class="form-row">
            <div class="col-4">
              <label for="columnSelection">Select intensity columns for calculation of copy number</label>
              <select multiple class="form-control" id="columnSelection" formControlName="IntensityCols">
                <option *ngFor="let o of column">
                  {{o}}
                </option>
              </select>
            </div>
            <div class="col-8">
              <div class="form-row">
                <div class="col-4">
                  <label for="identityColumnSelection">Select column with UniProt accession IDs</label>
                  <select class="form-control" id="identityColumnSelection" formControlName="IdentifierCol">
                    <option *ngFor="let o of column">
                      {{o}}
                    </option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="molecularMassColumnSelection">Select column with molecular weight</label>
                  <select class="form-control" id="molecularMassColumnSelection" formControlName="MolecularMassCol">
                    <option *ngFor="let o of column">
                      {{o}}
                    </option>
                  </select>
                </div>

              </div>
              <div class="form-row">
                <div class="col-4">
                  <label for="geneNameColumnSelection">Select gene name column</label>
                  <select class="form-control" id="geneNameColumnSelection" formControlName="GeneNameCol">
                    <option *ngFor="let o of column">
                      {{o}}
                    </option>
                  </select>
                </div>
                <div class="col-1">
                  <label for="ploidy">Ploidy</label>
                  <input type="number" class="form-control" id="ploidy" formControlName="Ploidy">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <div class="form-check">
                    <input formControlName="fetchUniProt" type="checkbox" id="fetchUniProt" class="form-check-input">
                    <label for="fetchUniProt" class="form-check-label">Fetch UniProt data for Gene names and molecular weight</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="form-row mt-2">
            <button class="btn btn-primary" (click)="selectData()">Submit</button>
          </div>
        </div>
      </form>



    </div>
  </div>
</div>

