<div class="modal-header">
  <h4 class="modal-title">Batch Selection</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mb-2">
    <div class="col-4">
      <select class="form-control" [(ngModel)]="searchType">
        <option [value]="'Gene names'">
          Gene names
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="entryList" class="sr-only">Entries List</label>
    <textarea class="form-control" id="entryList" [(ngModel)]="closeResult" rows="5"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>
</div>
