<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <input id="search-data" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search gene name">
        </div>
        <div class="col-3">
          <button class="btn btn-primary" (click)="searchSelectedProtein()">Add to graph</button>
        </div>
        <div class="col-4">
          <button class="btn btn-primary" (click)="downloadSelectedData(currentDf)">Download Selected Data</button>
        </div>
      </div>

        <p class="card-text">
          Selected proteins: <span *ngFor="let p of selectedProteins" class="badge badge-pill badge-success mr-2" (click)="removeSelected(p)">{{p}}</span>
        </p>

    </div>
    <plotly-plot
      [data]="graphData"
      [layout]="graphLayout"
      [updateOnDataChange]="true"
      [updateOnLayoutChange]="true"
    ></plotly-plot>
  </div>
</div>
