<div class="container-fluid mt-2" *ngIf="data">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <h5 class="card-title">
            Copy number versus Rank
          </h5>
        </div>
        <div class="col-9">

          <div class="d-flex justify-content-end">
            <div class="col-3">
              <input id="search-data" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search gene name">

            </div>
            <div class="col-8">
              <button class="btn btn-primary mr-1" (click)="searchSelectedProtein()">Add</button>
              <button class="btn btn-danger mr-1" (click)="resetSelection()">Reset</button>
              <div ngbDropdown class="d-inline-block mr-1">
                <button class="btn btn-outline-primary" id="builtinList" ngbDropdownToggle>
                  Batch selection of protein list
                </button>
                <div ngbDropdownMenu aria-labelledby="builtinList">
                  <button ngbDropdownItem (click)="highlight('Lrrk2')">LRRK2 pathway</button>
                  <button ngbDropdownItem (click)="highlight('Kinases')">Kinases</button>
                  <button ngbDropdownItem (click)="highlight('Phosphatases')">Phosphatases</button>
                  <button ngbDropdownItem (click)="highlight('PD')">PD genes (Mendelian)</button>
                  <button ngbDropdownItem (click)="highlight('PINK1')">PINK1 pathway</button>
                  <button ngbDropdownItem (click)="highlight('PDGWAS')">PD genes (GWAS)</button>
                  <button ngbDropdownItem (click)="highlight('DUBS')">
                    Deubiquitilases (DUBs)
                  </button>
                  <button ngbDropdownItem (click)="highlight('E1_E2_E3Ligase')">
                    E1,E2,E3 Ligase
                  </button>
                  <button ngbDropdownItem (click)="highlight('AD')">
                    AD Genes
                  </button>
                  <button ngbDropdownItem (click)="highlight('Lysosome')">
                    Lysosomal Proteins
                  </button>
                  <button ngbDropdownItem (click)="highlight('Golgi')">
                    Golgi Proteins
                  </button>
                  <button ngbDropdownItem (click)="highlight('Glycosylation')">
                    Glycosylation proteins
                  </button>
                  <button ngbDropdownItem (click)="highlight('Metabolism')">
                    Metabolism pathway
                  </button>
                  <button ngbDropdownItem (click)="highlight('Mito')">
                    Mitochondrial proteins
                  </button>
                  <button ngbDropdownItem (click)="openModal(content)">Search custom list</button>
                </div>
              </div>
              <button class="btn btn-info" (click)="downloadSelectedData(data)">Download Selected</button>

            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="card mt-2 mb-2">
            <div class="card-body">
              <div style="display:block;align-content: center">
                <canvas baseChart
                        [datasets]="scatterChartData"
                        [options]="options"
                        [chartType]="scatterPlotType"
                        [labels]="label"
                ></canvas>
            </div>
              <p class="card-text" *ngFor="let c of cellTypes">
                Selected in {{c}} sample:
                <span class="badge bg-info ml-1"
                      *ngFor="let s of selectedProtein[c]" id="m-{{c + s}}" (click)="selectProtein($event, s, c, true)">{{s}}</span>
              </p>
              <div class="row">
                <div class="col-auto">

                </div>
                <div class="col-auto">
                  <button class="btn btn-outline-primary" (click)="getUrl()">
                    Get direct link
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="shareUrl">
                <span class="text-success">Share link: <a href="{{shareUrl}}">Here</a></span>
              </div>
          </div>

          </div>
          <div class="row" *ngIf="heatmapData.count() > 0">
<!--            <app-heatmap [data]="heatmapData"></app-heatmap>-->
          </div>
        </div>

        <div class="col-5 mt-2" *ngIf="rows">
          <div class="row">
            <div class="form-group col-auto">
              <input type="text" class="form-control" [(ngModel)]="tableFilterModel" (keyup)="updateFilter()" placeholder="Filter table with gene name">
            </div>

          </div>

          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [columns]="columns"
            [rowHeight]="40"
            [columnMode]="'force'"
            [headerHeight]="30"
            [footerHeight]="70"
            [groupRowsBy]="'Gene names'"
            [groupExpansionDefault]="true"
            #myTable
          >
            <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
              <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                <div style="padding-left: 5px">
                  <div class="row">
                    <div class="col-2 text-sm-left">
                      <a
                        [class.datatable-icon-right]="!expanded"
                        [class.datatable-icon-down]="expanded"
                        title="Expand/Collapse Group"
                        (click)="toggleExpandGroup(group)"
                      >
                        <b>{{group.value[0]["Gene names"]}}</b>
                      </a>
                    </div>
                    <div class="col-10 text-sm-right">
                      <a  href="#/cellbrowse/{{group.value[0]['Gene names']}}/dia,dda/{{selectedFiles.split('/')[0]}}">View distribution</a>
                    </div>
                  </div>

                </div>
              </ng-template>
            </ngx-datatable-group-header>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Cell type"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Cell type"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Gene names"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Gene names"]}}
              </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Accession IDs"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Accession IDs"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Copy number"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Copy number"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Rank"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Rank"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Condition"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Condition"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [resizeable]="true"
              [draggable]="true"
              [sortable]="false"
              name="Fractions"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{row["Fraction"]}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>



      <!--<p class="card-text">LRRK2 pathway: <span class="badge badge-pill badge-success ml-1" *ngFor="let l of annotation['Lrrk2']" id="l{{l}}" (click)="selectProtein($event, l)">{{l}} </span> </p>
      <p class="card-text">Kinases pathway: <span class="badge badge-pill badge-success ml-1" *ngFor="let l of annotation['Kinases']" id="k{{l}}" (click)="selectProtein($event, l)">{{l}} </span> </p>
      <p class="card-text">Phosphatases pathway: <span class="badge badge-pill badge-success ml-1" *ngFor="let l of annotation['Phosphatases']" id="p{{l}}" (click)="selectProtein($event, l)">{{l}} </span> </p>
-->
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Batch Selection</h4>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-4">
        <select class="form-control" [(ngModel)]="searchType">
          <option>
            Gene names
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="entryList" class="sr-only">Entries List</label>
      <textarea class="form-control" id="entryList" [(ngModel)]="closeResult" rows="5"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="batchSelection(modal)">Submit</button>
  </div>
</ng-template>
