
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">
      Copica
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'home'" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'copybrowse'" routerLinkActive="active">Browse Individual Cell Type Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'cellbrowse/lrrk2/dda,dia'" routerLinkActive="active">Browse Experiment Wide Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'ruler'" routerLinkActive="active">Proteomic Ruler</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>



<div class="container">
  <hr/>
  <footer class="py-5">
    <div class="row">
      <div class="col-5">
        <img src="assets/logo/UKRI_MRC_%20PPU_Dundee.png" class="mx-auto" height="132" width="981" alt="mrc-ppu-log">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-5">
        <img src="assets/logo/ASAP_FullColor.png" class="mx-auto" alt="asap-logo">
      </div>
    </div>
  </footer>
</div>
