
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">
      Copica
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'home'" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'copybrowse'" routerLinkActive="active">Browse Individual Cell Type Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'cellbrowse'" routerLinkActive="active">Browse Experiment Wide Data</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>

