<div class="container">
  <div class="alert alert-light">
    <p class="fs-6 text-muted">
      The following is an Javascript implementation of the <i>Proteomic Ruler</i> algorithm from Proteomic Ruler plugin from <a href="https://maxquant.net/perseus/">Perseus</a> based on Histone proteins in the dataset from<br>

      <i>Wiśniewski, J. R., Hein, M. Y., Cox, J. and Mann, M. (2014) A “Proteomic Ruler” for Protein Copy Number and Concentration Estimation without Spike-in Standards. Mol Cell Proteomics 13, 3497–3506.</i>

    </p>
  </div>
</div>
<app-file-uploader (dataframe)="dataframeHandle($event)"></app-file-uploader>
<div *ngIf="observeLoad|async">
  <app-file-summary [dataframe]="data" (selectedData)="selectedDataHandler($event)"></app-file-summary>
</div>
<div class="container-fluid mt-2" *ngIf="observeProcess|async">
  <app-scatter-plot [data]="scatterData"></app-scatter-plot>
</div>
<div class="container mt-2" *ngIf="observeProcess|async">
  <button class="btn btn-info" (click)="downloadProcessedData()">Download Processed Data</button>
</div>
